<h1>Listing employees with average total price</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Average Total Price</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.average_total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Hide Average Total Price', employees_path %>

<br>

<%= link_to 'New Employee', new_employee_path %>

<br>

<%= link_to 'Create New Order', new_order_path %>

<%= link_to 'Show Orders', orders_path %>
